.container{
    border: 2.5px solid rgb(46, 46, 46);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;

    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 10px;
    overflow: hidden;
}